{% load static %}

<script src="{% static '/js/jquery.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static '/js/price-range.js' %}"></script>
<script src="{% static '/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>

<script defer>
$(document).ready(function(){
    $(".add-to-cart").on('click', function(e){
        e.preventDefault();
        prodid = $(this).attr("id");
        $.ajax(
            {
                url: "/shop/{{shopat}}/addToCart/",
                type: 'POST',
                async: true,
                dataType: 'json',
                data: {
                    'action': 'add_one',
                    'prodid': prodid,
                },
                success: addedCart
            }
        );
    });

    function addedCart(dat) {
        items_in_cart = dat.total;
        $("#items_in_cart").text(items_in_cart);
    }

    $("#checkout_account_confirm").on('click', function(e){
        e.preventDefault();
        var inputs = $("#checkout_account_form :input");
        var req_account = {};
        inputs.each(function(){
            req_account[$(this).attr("placeholder")] = $(this).val();
        });
        $.ajax(
            {
                url: "/account/checkout_confirm_account/",
                type: 'POST',
                async: false,
                dataType: 'json',
                data: req_account,
                success: post_checkout_account_confirm
            }
        );
    });
    
    function post_checkout_account_confirm(dat) {
        if (dat.success) {
            location.reload();
        } else {
            alert("There is something wrong with your submitted account information, please try again")
        }
    };

    $(".btn-check-out").on('click', function(e){
        e.preventDefault()
        var check_out_type = $(this).attr("type");
        var payment_inputs = $("#checkout-payment :input");
        var shipping = false;
        var card;
        var ret = {};
        payment_inputs.each(function(){
            card = $(this).val();
        });
        if ({{shopat}} == 10001) {
            shipping = true;
            shipping_inputs = $("#checkout-shipping :input");
            shipping_inputs.each(function(){
                ret[$(this).attr("x")] = $(this).val();
            });
        }
        ret['type'] = check_out_type;
        ret['card'] = card;
        ret['shipping'] = shipping;
        $.ajax(
            {
                url: "/shop/{{shopat}}/doCheckout/",
                type: 'POST',
                async: false,
                dataType: 'json',
                data: ret,
                success: post_checkout
            }
        )
    });
    function post_checkout(dat) {
        if (dat.success) {
            document.location.href = dat.info;
        } else {
            alert(dat.info);
        }
    }

    $(".btn-login").on('click', function(e){
        e.preventDefault()
        var login_inputs = $("#login-form :input");
        var login_info = {}
        login_info['action'] = 'login';
        login_inputs.each(function(){
            login_info[$(this).attr("x")] = $(this).val();
        });
        $.ajax(
            {
                url: "/shop/{{shopat}}/doLoginOrSignup/",
                type: 'POST',
                async: false,
                dataType: 'json',
                data: login_info,
                success: post_login
            }
        )
    });
    function post_login(dat) {
        if (dat.success) {
            document.location.href = '/shop/{{shopat}}/'
        } else {
            alert(dat.info);
        }
    };
    $(".btn-signup").on('click', function(e){
        e.preventDefault()
        var signup_inputs = $("#signup-form :input");
        var signup_info = {};
        signup_info['action'] = 'signup';
        signup_inputs.each(function(){
            signup_info[$(this).attr("x")] = $(this).val();
        });
        $.ajax(
            {
                url: "/shop/{{shopat}}/doLoginOrSignup/",
                type: 'POST',
                async: false,
                dataType: 'json',
                data: signup_info,
                success: post_login
            }
        )
    });
});
</script>