{% load static %}

<header id="header"><!--header-->
    <!-- removed header top-->
    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="{% static '/images/home/logo.png' %}" alt="" /></a>
                    </div>
                </div>
                {% if siteloc != 'Showcase' and siteloc != 'Report' %}
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/account/"
                                {% if siteloc == 'Account' or siteloc == 'My Orders' or siteloc == 'Monthly Bills' %} class='active' {%endif%}
                                ><i class="fa fa-user"></i> Account</a></li>
                            <li><a href="
                                {% if request.session.cart.siteid %}/shop/{{request.session.cart.siteid}}/cart/{%else%}
                                /shop/10001/cart/
                                {%endif%}" {% if subloc == 'Cart' %} class='active' {% endif %}><i class="fa fa-shopping-cart"></i>Cart ( <span id='items_in_cart'>{% if request.session.cart.total %}{{request.session.cart.total}}{%else%}0{%endif%}</span> )</a></li>
                            {% if request.session.loggedin %}
                            <li><a href="/logout/"><i class="fa fa-lock"></i> Logout</a></li>
                            {% else %}
                            <li><a href="
                                {% if request.session.cart.siteid %}/shop/{{request.session.cart.siteid}}/login/{%else%}
                                /shop/10001/login/
                                {%endif%}"
                                "><i class="fa fa-lock"></i> Login / Signup</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="/" {% if siteloc == 'Showcase' %}class="active"{%endif%}>Showcase</a></li>
                            <li class="dropdown">
                                <a href="#" {% if siteloc == 'Shop' or siteloc == 'Login/Signup' %} class="active"{% endif %}>
                                {% if siteloc == 'Shop'  or siteloc == 'Login/Signup'%}
                                    {% for site in sites %}
                                        {% if shopat == site.0 %} 
                                        Shopping at {{site.1}} {% if site.2 %} @ {{site.2}}, {{site.3}} {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                Simulate Shopping
                                {% endif %}<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for site in sites %}
                                    <li><a href="/shop/{{site.0}}">{{site.1}} {% if site.2 %} @ {{site.2}}, {{site.3}} {% endif %}</a></li>
                                    {% endfor %}
                                </ul>
                            </li> 
                            <li ><a href="/report/" {% if siteloc == 'Report' %}class="active"{%endif%}>Sales Report</i></a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->