<div class="left-sidebar">
        <h2>Product Type</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/">All</a></h4>
                </div>
            </div>
            {% for ptype in productTypes %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="/products/ptype/{{ ptype.0 }}">{{ ptype.1 }}</a></h4>
                    </div>
                </div>
            {% endfor %}
        </div><!--/category-products-->
    
        <div class="brands_products"><!--brands_products-->
            <h2>Manufacturer</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    {% for manu in manufacturers %}
                        <li><a href="/products/manu/{{ manu.0 }}"> <span class="pull-right">({{ manu.2 }})</span>{{ manu.1 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div><!--/brands_products-->
    
</div>