<div class="left-sidebar">
        <h2>Account No: {{request.session.user.AccountNumber}}</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/account/">My Information</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/account/orders/">My Orders</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/account/bills/">Monthly Bills</a></h4>
                </div>
            </div>
        </div><!--/category-products-->
</div>