
<div class="col-sm-9">
    <div class="blog-post-area">
        <h2 class="title text-center">All Orders</h2>
        {% for order in all_orders %}
        <div class="single-blog-post">
            <h3>OrderID: {{order.OrderID}}</h3>
            <div class="post-meta">
                <ul>
                    <li><i class="fa fa-user"></i> {{order.OrderType}}</li>
                    <li><i class="fa fa-clock-o"></i> {{order.OrderJustTime}}</li>
                    <li><i class="fa fa-calendar"></i> {{order.OrderDate}}</li>
                </ul>
            </div>
            <p>Total: $ {{order.OrderPrice}}</p>
            <a  class="btn btn-primary" href="/order/{{order.OrderID}}/">See Detail</a>
        </div>
        <hr>
        {% endfor %}
        <div class="pagination-area">
            <ul class="pagination">
                {% if prevpage > 0 %}
                <li><a href="{{cururl}}/page-{{prevpage}}">&laquo;</a></li>
                {% endif %}
                {% for pageid in pages %}
                <li><a {% if pageid == curpage %}class="active" {% endif %} href="{{cururl}}/page-{{pageid}}">{{pageid}}</a></li>
                {% endfor %}
                {% if nextpage > 0 %}
                <li><a href="{{cururl}}/page-{{nextpage}}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>