{% extends "base.html" %}

{% load static %}

{% block content %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/shop/{{shopat}}/">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Checkout</h2>
			</div>
			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-4">
						<div class="shopper-info">
							<p>Shopper Information</p>
							{% if not request.session.loggedin %}
							<form id='checkout_account_form'>
								{% if shopat == 10001 %}
								<p>Please log in to checkout as a frequent customer.</p>
								<input type="text" placeholder="Username">
								<input type="password" placeholder="Password">
								{% else %}
								<p>Please show your account number and ID to our employee to verify your frequent customer information.</p>
								<input type="text" placeholder="Account Number">
								{% endif %}
							</form>
							<a class="btn btn-default check_out" id="checkout_account_confirm" href="">Confirm Account Info</a>
							<a class="btn btn-default check_out btn-check-out" type="normal" href="">Guest Checkout</a>
							{% else %}
							<form>
							<p>Welcome {{ request.session.user.FirstName}}! Thanks for shopping!</p>
							</form>
							<a class="btn btn-default check_out btn-check-out" type="normal" href="">Checkout</a>
							<a class="btn btn-default check_out btn-check-out" type="bill" href="">Bill Later</a>
							{% endif %}
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shopper-info">
							<p>Payment Information</p>
							<form id='payment'>
								<input type="text" placeholder="Card Number">
							</form>
						</div>
					</div>
					{% if shopat == 10001 %}
					<div class="col-sm-4 clearfix">
						<div class="bill-to">
							<p>Ship To</p>
							<div class="form-one">
								<form>
									<input type="text" x="address1" placeholder="Address Line 1 *">
									<input type="text" x="address2" placeholder="Address Line 2 (Optional)">
									<input type="text" x="city" placeholder="City *">
									<input type="text" x="state" placeholder="State *">
									<input type="text" x="zipcode" placeholder="Zipcode">
								</form>
							</div>
						</div>
					</div>	
					{% endif %}			
				</div>
			</div>
			<div class="review-payment">
				<h2>Order Details</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for cart_item in show_carts %}
						<tr>
							<td class="cart_product">
								<!-- <a href=""><img src="images/cart/one.png" alt=""></a> -->
							</td>
							<td class="cart_description">
								<h4><a href="">{{ cart_item.1 }}</a></h4>
								<p>Product ID: {{ cart_item.0 }} | Stock {{ cart_item.3 }}</p>
							</td>
							<td class="cart_price">
								<p>$ {{ cart_item.2 }}</p>
							</td>
							<td class="cart_quantity"><p>{{ cart_item.4 }}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">$ {{ cart_item.5 }}</p>
							</td>
						</tr>
						{% endfor %}
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>$ {{cart_total}}</td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>$ 0</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$ {{cart_total}}</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

{% endblock %}