{% extends "base.html" %}

{% load static %}

{% block content %}


{% if siteloc == 'Showcase' %}
{% include 'include/index/index-slider.html' %}
{% endif %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'include/index/index-left-sidebar.html' %}
            </div>
            
            <div class="col-sm-9 padding-right">
				{% include 'include/index/index-main-panel.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}