{% extends "base.html" %}

{% load static %}

{% block content %}
	
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					{% if shopat == 10001 %}
					<h2>Login to your account</h2>
					<form id='login-form'>
						<input type="text" x='username' placeholder="Username" />
						<input type="password" x='password' placeholder="Password" />
						<button type="submit" class="btn btn-default btn-login">Login</button>
					</form>
					{% else %}
					<h2>Show your account number to our employee</h2>
					<form id='login-form'>
						<input type="text" x='accountno' placeholder="Account Number" />
						<button type="submit" class="btn btn-default btn-login">Continue</button>
					</form>
					{% endif %}
				</div><!--/login form-->
			</div>
			<div class="col-sm-1">
				<h2 class="or">OR</h2>
			</div>
			<div class="col-sm-4">
				<div class="signup-form"><!--sign up form-->
					<h2>New customer signup and get an account number!</h2>
					<form id='signup-form'>
						<input type="text" x="firstname" placeholder="First Name"/>
						<input type="text" x="lastname" placeholder="Last Name"/>
						<input type="text" x="username" placeholder="Preferred Username"/>
						<input type="password" x="password" placeholder="Password"/>
						<button type="submit" class="btn btn-default btn-signup">Join</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
	
{% endblock %}